@import url('https://fonts.googleapis.com/css2?family=Kenia&display=swap');

:root {
    --font-family: 'Kenia', cursive;
    --bg-color: #393E46;
    --primary-color: #F2E7D5;
    
}

body {
    background-color: var(--bg-color);
    color: var(--primary-color);
    min-heigth: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    font-family: var(--font-family);
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 4em; 
}

h3 {
    font-size: 2em;
    margin-top: 20px;
}

.box {
    border: 2px solid var(--primary-color);
    display: inline-block;
    font-size: 4em;
    padding: 10px;
    margin: 20px;
}

.btn-jogar {
    padding: 8px 15px;
    border: 0;
    background: var(--primary-color);
    border-radius: 5px;
    margin-top: 20px;
}